* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  /* Farbvariablen */
  --main-bg-color: #efede1;
}

.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.viewport-child {
  width: 100svw;
  height: 100svh;
}

.viewport-child-child {
  width: 300px;
  height: 300px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.viewport-child-child {
  background-color: #7900a259;
  border: 5px solid #7900a2;
  color: #7900a2;
}

.aspect1 {
  top: -500px;
  left: -1000px;
}

.aspect2 {
  top: -500px;
  left: 0px;
}

.aspect3 {
  top: -500px;
  left: 500px;
}

.aspect4 {
  top: 200px;
  left: -500px;
}

.aspect5 {
  top: 200px;
  left: 500px;
}
