* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige-100: #f2f1e9;
  --beige-200: #a4a297;
  --beige-300: #d8d3bc;
  --beige-400: #8c8871;
  --beige-500: #494637;
}

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.gallery {
  width: 200vw;
  height: 200vh;
  position: absolute;
  transition: transform 0.5s ease-out;
  transform: translate3d(-100vw, -100vh, 0);
}

.aspect {
  text-align: center;
  width: 30vw;
  height: 30vw;
  border: 2px solid #000;
  position: absolute;
}

#one {
  background: lightcoral;
  left: 0vw;
  top: 10vh;
}
#two {
  background: lightblue;
  left: 170vw;
  top: 0vh;
}
#three {
  background: lightgreen;
  left: 170vw;
  top: 170vh;
}
#four {
  background: lightyellow;
  left: 0vw;
  top: 170vh;
}
#five {
  background: lightpink;
  left: 70vw;
  top: 70vh;
}

@media (hover: none) and (pointer: coarse) {
  .gallery {
    transition: none;
  }
}
