* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige-100: #f2f1e9;
  --beige-200: #a4a297;
  --beige-300: #d8d3bc;
  --beige-400: #8c8871;
  --beige-500: #494637;
}

body {
  overflow: hidden;
  background-color: var(--beige-100);
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--beige-100);
}

.gallery {
  width: 200vw;
  height: 200vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 200ms linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10em;
}

.item {
  position: absolute;
  overflow: hidden;
}

.is-1 {
  left: 88%;
  top: -7%;
}

.is-2 {
  left: 3%;
  top: -21%;
}

.is-3 {
  left: -10%;
  top: 83%;
}

.is-4 {
  left: -15%;
  top: 22%;
}

.is-5 {
  left: 55%;
  top: 20%;
}

.is-6 {
  left: 30%;
  top: 54%;
}

img.animal {
  width: 20vw;
  height: auto;
}
