* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* 100% der Viewport-Höhe */
  overflow: hidden;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Das Video passt sich der Größe des Containers an */
}

.blob {
  position: absolute;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.blob video {
  width: 25vw;
  height: auto;
}

.one {
  top: 40%;
  left: 20%;
}

.two {
  top: 60%;
  left: 80%;
}
